{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <h1 id="loginHeading" class="h3 mb-3 text-center">{% trans "Sign In to DoDash" %}</h1>
                    <p id="loginIntro" class="text-muted mb-4 text-center">{% blocktrans %} Welcome! Please enter your credentials to access your dashboard.{% endblocktrans %}</p>
                    
                    <form class="login" method="POST" action="{% url 'account_login' %}" aria-labelledby="loginHeading" aria-describedby="loginIntro">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-flex justify-content-between mt-4">
                            <a class="btn btn-outline-secondary" href="{% url 'account_signup' %}">
                                {% trans "Don't have an account? Sign Up" %}
                            </a>
                            <button type="submit" class="btn log-in-button">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}