{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h2>Delete Board</h2>

                        <p>Are you sure you want to delete the board "{{ board.title }}"?</p>

                        <form method="POST" action="{% url 'delete-board' board.slug %}">
                            {% csrf_token %}
                            <a href="{% url 'my-dashboard' %}" class="btn">Cancel</a>
                            <input class="btn delete-board-btn" type="submit" name="Delete Board" value="Delete Board">
                        </form>

                    </div>

                    <div class="text-center small text-muted">
                        Created: {{ board.created_on }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
