{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8 col-xl-6">
			<div class="card shadow-sm border-0">
				<div class="card-body p-4 text-center">
					<h1 class="h3 mb-3 dashboard-title">About DoDash</h1>
					<p class="mb-0 text-light-emphasis">
						DoDash helps you organize boards and tasks in one place.
                        <br>
                        Developed by E.R.S.M. in 2026, DoDash is a simple yet powerful tool designed to boost your productivity and keep you on top of your tasks.
                        <br>
                        Whether you're managing personal projects, work assignments, or collaborative efforts, DoDash provides an intuitive interface to help you stay organized and focused.
                        <br>
					</p>
				</div>
			</div>
			<div class="card shadow-sm border-0 mt-4">
				<div class="card-body p-4 text-center">
					<h2 class="h4 mb-3 dashboard-title">Comments:</h2>
					<p class="mb-0 text-light-emphasis">
						Please share your suggestions and let us know how to improve our website!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
